{% extends "layout.html" %}

{% block title %}

{% endblock %}
{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <div>
        <p>
            {% if session %}   
            <p>session id: {{session}}</p>
            {% else %}
            <p>session id: None</p>
            {%endif %}
        </p>
    </div>
    <form action="{{ url_for('login_attempt') }}" method="post">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <button>Login</button>
    </form>
{% endblock %}
