
{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}
{% block heading %}
    Register
{% endblock %}

{% block body %}
    <form action="{{ url_for('register_submit') }}" method="post">
        <input type="text" name="username" placeholder="Enter Your Email"><br>
        <input type="text" name="firstname" placeholder="Enter Your First Name"><br>
        <input type="text" name="lastname" placeholder="Enter Your Last Name"><br>
        <input type="password" name="password" placeholder="Enter Your Password"><br>
        <input type="password" name="passwordConfirm" placeholder="Confirm Password"><br>
        <button>Submit</button>
    </form>
{% endblock %}
